body {
    background-image: url(../images/in-case-of-zombie-attack-funny-hd-wallpaper-1920x1080-4129.jpg);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-position-y: 0%;
    text-align: center;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

.text-muted {
    color: blue;
}

.last-seconds {
    color: red;
}

.option {
    margin: 15px;
}

.btn {
    background: greenyellow;
    color: black;
}